<nav class="positivo-color lighten-1" role="navigation" style="height: 105px;">
    <div class="nav-wrapper container">
      <!--<a id="logo-container" [routerLinkActive]="['/home']" class="brand-logo">-->
 
        <ul class="right hide-on-med-and-down">
            <li><a md-button [routerLinkActive]="['/home']" href="#" >Home</a></li>
            <li><a md-button [routerLink]="['/alunos']">Alunos</a></li>
            <li><a md-button [routerLink]="['/about']">Sobre</a></li>
          </ul>
      
          <ul id="nav-mobile" class="side-nav">
            <li><a [routerLinkActive]="['/home']" href="#">Home</a></li>
            <li><a [routerLink]="['/alunos']">Alunos</a></li>
            <li><a [routerLink]="['/about']">Sobre</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>